<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PowerPuff Forum</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>PowerPuff Forum</h1>
  <!-- <h2>Why you trappin so hard?</h2> -->


  <h3>Who's the best PowerPuff Girl?</h3>
  <ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="message">
      <span><%= messages[i].name %></span>
      <span><%= messages[i].msg %></span>
      <span><%= messages[i].thumbUp %></span>
      <span><i class="fa fa-heart" aria-hidden="true"></i></span>
      <span><i class="fa fa-laugh-squint" aria-hidden="true"></i></span>
      <span><i class="fa fa-recycle" aria-hidden="true"></i></span>
    </li>
  <% } %>
  </ul>

  <!-- <h2>Add a message</h2> -->

  <form action="/messages" method="POST">
    <input type="text" placeholder="comment" name="name">
    <input type="text" placeholder="message" name="msg">
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
